/*
* {
    padding: 0%;
    margin: 0%;
    background-color: black;
}

.movie-slate {
    max-width: 50%;
    padding-top: 150px;
}

h1 {
    background: linear-gradient(
        90deg,
        aqua,
        rgb(164, 24, 157),
        red,
        blue,
        white,
        rgb(202, 202, 114)
    );
    background-size: 400%;
    font-style: italic;
    font-size: 8em;
    font-weight: lighter;
    color: black;
    position: absolute;
    text-align: center;
    right: 5%;
    /* transform: translateX(50%); * / << put those together
    padding: 10px;
    -webkit-background-clip: text;

    -webkit-text-stroke: 5px transparent;
    animation: animate 10s linear infinite,
        slideInLeft 0.2s ease-in 0.5s 1 normal both;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(150%);
    }
    to {
        transform: translateX(0);
    }
}

@media (max-width: 758px) {
    .movie-slate {
        max-width: 80%;
        padding-top: 100px;
    }

    h1 {
        font-size: 2em;
        right: -4%;
    }
}

*/